doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/javascripts/bootstrap.min.js') 
  body
    h1(align='middle')= title
    block content
