<html>
    <head>
        <title>EyeOnExpenses</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <script src="/javascripts/jquery-3.1.1.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/angular.min.js"></script>
        <script src="/javascripts/home_front_script.js"></script>
        <script src="/javascripts/jquery-ui.min.js"></script>
        <link href="/css/jquery-ui.min.css" rel="stylesheet">
    </head>
    <body class="container-fluid" ng-app="eoe_app" ng-controller="eoe_ctrl" id="body">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span> 
                    </button>
                    <a class="navbar-brand" href="#">Eye On Expenses</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a data-toggle="tab" href="#stores">Stores</a></li>
                        <li><a data-toggle="tab" href="#statement">Statement</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Expenses
                            <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#erecent" data-toggle="tab">Recent</a></li>
                                <li><a href="#ehistory"data-toggle="tab">history</a></li> 
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="tab-content">
            <div id="stores" class="tab-pane fade in active">
                <button class="btn btn-info" style="float: left !important;" data-toggle="modal" data-target="#addstore">
                    <span class="glyphicon glyphicon-plus"></span> New Store
                </button>
                <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Store-Name</th>
                                <th>Balance</th>
                                <th></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="store in store_list.stores">
                                    <td>{{ store.name }}</td>
                                    <td style="font-family:consolas;">{{ store.balance }}</td>
                                    <td><button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#addbal" ng-click="set_add_balance_store(store.name)">
                                            <span class="glyphicon glyphicon-plus-sign"></span> Add
                                        </button>
                                    </td>
                                    <td><button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#rmstore" ng-click="set_rm_store(store.name)">
                                            <span class="glyphicon glyphicon-remove" style="color: red;"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <p>Total Balance: <span style="font-family:consolas; font-size: 20; font-weight: bold;">{{total_balance}}</span></p>
                    </div>
                    <div class="col-xs-5">
                        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#transferbal">
                            <span class="glyphicon glyphicon-sort"></span> Transfer Balance
                        </button>
                    </div>
                </div>
            </div>
            <div id="statement" class="tab-pane fade">
                <div class="row" id="printhidden">
                    <div class="col-xs-7">
                        <select style="float: left !important;" class="form-control sm" ng-model="statement_store" ng-change="update_dlog()">
                            <option ng-repeat="store in store_list.stores" value="{{store.name}}" >{{store.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-5">
                        <button style="float: right !important;" class="btn btn-default" onclick="window.print()">
                            <span class="glyphicon glyphicon-print"></span>
                        </button>
                    </div>
                </div>
                <div id="statement_display">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Store</th>
                                <th>Amount</th>
                                <th>Type</th>
                                <th>When</th>
                                <th>Why</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="log in dlog_list">
                                <td>{{log.store}}</td>
                                <td style="font-family:consolas;">{{log.amount}}</td>
                                <td>{{log.type}}</td>
                                <td>{{log.when}}</td>
                                <td>{{log.reason}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="erecent" class="tab-pane fade">
                <button class="btn btn-success" style="float: left !important;" data-toggle="modal" data-target="#addexpense">
                    <span class="glyphicon glyphicon-plus"></span> New Expense
                </button>
                <button class="btn btn-danger" style="float: right !important;" data-toggle="modal" data-target="#resetrecent">
                    <span class="glyphicon glyphicon-refresh"></span> Reset Recent
                </button>
                <br/>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Expense</th>
                                <th>Amount</th>
                                <th>From</th>
                                <th>When</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="expense in expenses.recent">
                                    <td>{{ expense.reason }}</td>
                                    <td style="font-family:consolas;">{{ expense.amount }}</td>
                                    <td>{{expense.fromstore}}</td>
                                    <td style="font-family:consolas;">{{expense.when}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="ehistory" class="tab-pane fade">
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Expense</th>
                                <th>Amount</th>
                                <th>From</th>
                                <th>When</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="expense in expenses.history">
                                    <td>{{ expense.reason }}</td>
                                    <td style="font-family:consolas;">{{ expense.amount }}</td>
                                    <td>{{expense.fromstore}}</td>
                                    <td style="font-family:consolas;">{{expense.when}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="transferbal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Transfer Balance (between stores)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-5">
                                From Store:
                            </div>
                            <div class="col-xs-7">
                                <select class="form-control" ng-model="transfer_fromstore">
                                    <option ng-repeat="store in store_list.stores" value="{{store.name}}" >{{store.name}}</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                To Store:
                            </div>
                            <div class="col-xs-7">
                                <select class="form-control" ng-model="transfer_tostore">
                                    <option ng-repeat="store in store_list.stores" value="{{store.name}}" >{{store.name}}</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                Transfer Amount:
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" type="number" ng-model="transfer_amt">
                            </div>
                        </div>
                        <br/>
                        <p>Selected stores:<br/> [from: {{transfer_fromstore}}, to: {{transfer_tostore}}]</p>
                        <div id="tbalert_placeholder"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="transfer_balance()">Transfer</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addbal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Balance to Store</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-5">
                                Enter Amount:
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" type="number" ng-model="store_add_amt">
                            </div>
                        </div>
                        <br/>
                        <div id="abalert_placeholder"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="store_add_balance()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addstore" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Store</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-5">
                                Store Name:
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" type="text" ng-model="new_store_name">
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                Enter Amount:
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" type="number" ng-model="new_store_amt">
                            </div>
                        </div>
                        <br/>
                        <div id="nsalert_placeholder"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="add_new_store()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="rmstore" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure about removing this store?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm" ng-click="delete_store()">Yes</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="addexpense" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add New Expense</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-5">
                                Enter Reason:
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" type="text" ng-model="ne_reason">
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                Select From-Store:
                            </div>
                            <div class="col-xs-7">
                                <select class="form-control" ng-model="ne_fromstore">
                                    <option ng-repeat="store in store_list.stores" value="{{store.name}}" >{{store.name}}</option>
                                </select>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                Amount:
                            </div>
                            <div class="col-xs-7">
                                <input class="form-control" type="number" ng-model="ne_amount">
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-5">
                                When:
                            </div>
                            <div class="col-xs-7">
                                <input type="text" id="datepicker" placeholder="MM-DD-YYYY" class="form-control" ng-model="ne_when">
                            </div>
                        </div>
                        <br/>
                        <div id="nealert_placeholder"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" ng-click="add_new_expense()">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="resetrecent" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Are you sure about resetting recent expenses?<br/><br/>**These expenses will be moved to history and will still be available there for you!**</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-sm" ng-click="reset_recent()">Yes</button>
                        <button type="button" data-dismiss="modal" class="btn btn-primary btn-sm">No</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert_placeholder"></div>
    </body>
</html>